html,
body {
  width: 100%;
  height: 100%;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: opacity 300ms;
  background: rgba(0, 0, 0, .5) url(~assets/Eclipse-1s-200px.svg) no-repeat center;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  &.layout--default {
    background: $white;
    color: $text;
    font-family: 'Josefin Sans', sans-serif;
  }

  header,
  nav,
  main,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    padding: $main-padding 0;
  }
}
