html,
body {
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  &.layout--default {
    background: $white;
    color: $text;
    font-family: 'Josefin Sans', sans-serif;
  }

  header,
  nav,
  main,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    padding: $main-padding 0;
  }
}
